.spyproject/
data/
log/
main/ignore.py
main/helloworld.py
main/ad_cp.py
main/ad_cp.py
main/ad_cp.py
main/helloworld.py
main/ad_test.py
log/ubuntu/ad_20180520.txt_bak
main/__pycache__/ad_res.cpython-35.pyc
